* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}

.container {
    text-align: center;
    background: pink;
    padding: 20px;
    border-radius: 10px;
}

.kitty {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: margin-top 0.3s ease-in-out;
    width: 100%;
}

button {
    transition: transform 0.3s ease-in-out;
    margin: 5px;
}

#yes-btn {
    background-color: rgb(0, 106, 255);
    color: white;
}

#no-btn {
    background-color: rgb(239, 17, 17);
    color: white;
}

#message {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}